<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProiectIP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <h1>Cinema</h1>
            @if (User.Identity.IsAuthenticated)
                {
                    <a href="/admin/adminPage"><button>Acasă</button></a>
                }
                else
                {
                     <a href="/"><button>Acasă</button></a>
                }
            <a href="/movies"><button>Filme</button></a>
            <a href="/rooms"><button>Sali</button></a>
            <button onclick="loadCumpara()">Cumpără Bilet</button>
            <button onclick="loadCumpara()">Despre</button>
            @if (User.Identity.IsAuthenticated)
            {
                    <a href="/admin"><button hidden>Autentificare Admin</button></a>
                        <a href="/admin/logout"><button>Logout</button></a>
            }
                else
                {
                    <a href="/admin"><button>Autentificare Admin</button></a>
                }
        </div>
    </nav>
</header>
<div id="content"></div>

<div id="content"></div>

  </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProiectIP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @Html.C1().FlexGrid()
    @Html.C1().InputData()
    @Html.C1().FinancialChart()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Html.C1().Scrpits()
    @RenderSection("scripts", required:false)
    @Html.C1().Styles().Theme("cocoa")
    @Html.C1().Scripts().Basic().Finance().FlexSheet().FlexViewer().Olap().MultiRow()
</body>
</html>
