<div class="container">
    <h2>@Model.Movie.Title</h2>
    <br />

    <div class="media-container">
        <img src="@Model.Movie.ImageURL" alt="Nume Film">
        <br />
        <iframe width="560" height="315" src="@Model.Movie.TrailerURL" title="@Model.Movie.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br />

    <p style="text-align: center;">@Model.Movie.Description</p>
    <br />

    <form method="post" action="@Url.Action("Buy", "Movies")">
        <input type="hidden" name="title" value="@Model.Movie.Title" />
        <input type="hidden" name="price" value="@Model.Movie.Price" />
        <h4>Cantitatea mai mare ca 0</h4>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" />

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" />

        <label for="subscribe">Subscribe:</label>
        <input type="checkbox" name="subscribe" id="subscribe" value = "true" />

        <button type="submit">Cumpără Bilet</button>
    </form>

    <a class="back-link" href="/movies">Înapoi</a>
    <br />
    <br />

    @foreach(var actor in Model.Actors)
    {
        <a href="/actors/actor/@actor.Id">
            <img src="@actor.PictureURL" alt="@actor.FullName" width="150px" height="200px">
            <p>@actor.FullName</p>
        </a>
    }
</div>
